
.imgSchedule{
    padding-top: 4%;
   
    display : flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.imgSchedule1{
    height: 70vh;
    width: 30%;
    min-width: 30vh;
    border-radius: 30px;
}
.msg1_Schedule{
    
    width:62%;
    margin-top: 90%;
    margin-left: 19%;
    margin-right: 19%;
    height: auto;
    background-color: #4A4A4A;
    border-radius: 8px;
    display : flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.msg2_Schedule{
    font-family: Outfit;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 0.5em;
    

}

.imgSchedule{
    display : flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.timeSchedule{
    display : flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.dateSchedule1{
    background-color:#FF2A00 ;
    margin-left: 2%;
    border-radius: 15px;
    margin-top: 3%;
    
    display: inline-flex;
    align-items: center;
    
}
.dateSchedule2{
    background-color:#FF2A00 ;
    border-radius: 15px;
    margin-top: 3%;
    margin-right: 2%;
    
    display: inline-flex;
    align-items: center;
}

.msg1_Schedule h5{
    color :black !important;
    
    text-align: center;
    font-family: Outfit;
font-size: 14px;
font-weight: 400;
line-height: 17.64px;


}


.badge-icon {
    margin-right: 0.5em;
    font-size: 14px;             /* Icon size */
}