@font-face {
    font-family: 'Signika-Bold';
    src: url('../assets/fonts/Signika/static/Signika-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
font-family: 'Signika-Light';
src: url('../assets/fonts/Signika/static/Signika-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


.Classes h1{
    text-align: center;
    color:white;
    font-family: 'Signika-Bold';
    margin-top: .5%;
    font-size:63px ;
}