@font-face {
    font-family: 'Signika-Bold';
    src: url('../assets/fonts/Signika/static/Signika-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
font-family: 'Signika-SemiBold';
src: url('../assets/fonts/Signika/static/Signika-SemiBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
.card-container{
    display: flex;
    justify-content: space-around;
    background-color: #1f1f1f;
    padding: 3%;
}

.card{
    background-color: #1f1f1f !important;
    color:rgb(255, 255, 255) !important;
    border: none !important;
}

.card h2{
    font-family: Signika-Bold;
    font-size: 36px;
}

.card p{
    font-family: Signika-SemiBold;
    font-size: 14px;
}