
@font-face {
  font-family: 'Signika';
  src: url('../assets/fonts/Signika/static/Signika-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Signika-Light';
  src: url('../assets/fonts/Signika/static/Signika-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Signika-SemiBold';
  src: url('../assets/fonts/Signika/static/Signika-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.nav-item{
  margin: 0 11px
}

.custom-link {
    color: #797979 !important; /* Force color to black */
    font-size: 24px !important; /* Force font size */
    transition: font-weight 0.3s ease;
    font-family: Signika-Light;
    
  }
  
.custom-link:hover {
    color: #000000!important;
    cursor: pointer ; /* Pointer cursor on hover */
  

}

.active{
    
    color: #000000!important;
    font-family: Signika;
}

    
.custom-button {
    color: #ffffff; /* Button text color */
    background-color: #000000; /* Button background color */
    border-radius: 15px; /* Border radius for rounded corners */
    padding: 8px 20px; /* Padding for button size */
    border: none; /* Remove default border */
    cursor: pointer ; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
    font-size: 18px;
    font-weight: 600;
    font-family: Signika-SemiBold;
    max-height:50px ;
  }
  
  .custom-button:hover {
    background-color: #797979; /* Darken background color on hover */
  }

.NavBar{
  margin-left:3%;
  margin-right:3%;
  padding-top:1%
}
html{
  scroll-behavior: smooth;
}