@font-face {
    font-family: 'Signika-Bold';
    src: url('../assets/fonts/Signika/static/Signika-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
font-family: 'Signika-Light';
src: url('../assets/fonts/Signika/static/Signika-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

.title{
    text-align: center;
    margin: 3.5%;
}

.title h1{
    font-family: 'Signika-Bold';
    font-size: 63px;
}

.title p{
    font-family: 'Signika-Light';
    font-size: 25px!important;
    margin: 2%;
    color: #797979;

}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Quals {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute space between items */
    padding: 15px;
}

.Quals-Content {
    flex: 0 1 calc(50% - 30px); /* Adjust width calculation for extra margin */
    margin: 15px 10px; /* Increased space between items */
    box-sizing: border-box; /* Ensure padding and margin don't affect width */
}

.Pics{
    width: 45%;
    padding-left: 2%;
}

.photos{
    display: flex;
    justify-content: start;
    gap:3%;
}
.verticalPhotos{
    display: flex;
    flex-direction: column;
    gap:8%;
    
}
.Pics img{
    border-radius: 38px;
    box-shadow: 20px 10px 40px black ;
}
@media (min-width: 1800px) {
    .content{
        margin-top: 7%;
    }
    .Pics{
        width: 40%;
    }
    .Quals{
        width: 60%;
    }
  }