

.YSection{
    background-color: #EEEEEE !important;
    height :auto;
    
}

.Ypadd{
    padding-top: 3%;
}
.YDiv1{
    
    padding-right: 8%;
    padding-left: 8%;
   
    
}


.YTitle1{
    color: #FF2A00 !important  ;
    text-align: center;
    margin-bottom: 2%;
    font-family: outfit;
    font-weight: 300;
}
.YTitle1{
    margin-bottom: 2%;
    font-family: outfit;
    font-weight: 300;
}
.Ypar1{
    font-family: outfit;
    font-weight: 150;
}
.YBoutton1 {
    color: #FDF2F2;
    background-color: #170101;
    border-radius: 30px;
    border-color: #FFED00;
    border-width: 1px;
    width: 170px;
    height: 40px;
    font-size: 14px;
    font-family: Outfit;
    font-size: 14px;
    
    text-align: center;

 }

.YDiv2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.Yimg2{
    height: 30px;
    height: 30px;
    margin-top:3%;
    margin-left:94%;
}

