.plan {
  border-radius: 16px;
  
  padding: 10px;
  background-color: transparent;
  max-width: 300px;
  transition: background-color 0.4s, color 0.4s;
  min-width: 200px;
}

.pri {
  color: #000000;
}

.plan .inner {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.055);
  width :100%;
  height:100%;

  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  transition: background-color 0.4s, color 0.4s;
}

.plan .pricing1 {
  margin-top: 2%;
  display: flex;
  align-items: center;
  font-family: Signika;
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  line-height: 29.14px;
  text-align: left;
}

.plan .pricing1 small {
  color: #000000;
  font-size: 0.75em;
  margin-left: 0.25em;
}

.plan .titl {
  color: #000000;
  font-family: Signika;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}

.plan .info {
  margin-top: 2%;
  color: #808080;
  font-size: 12px;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #808080;
  list-style: none;
  position: relative;
   /* Adjust space to fit the logo */

  /* Add the logo as a custom bullet */
}

.plan .action {
  width: 100%;
  display: flex;
  justify-content: end;
}

.plan .button {
  border-radius: 16px;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  width: 100%;
  padding: 0.425em 0.75em;
  text-decoration: none;
  transition: background-color 0.4s, color 0.4s;
}

.plan:hover .button {
  background-color: #fff;
  color: #000;
}

.plan:hover .inner {
  cursor: pointer;
  transform: scale(1.07);
  background-color: #000;
  color: #fff;
  
}
.plan:hover .titl {
  
  color: #fff;
}
.plan:hover .pri{
  
  color: #fff;
}
.plan:hover .pri small{
  
  color: #fff;
}

.plan .features li::before {
  content: ""; /* Empty content to add the image */
  position: absolute;
  left: -30px; /* Align the logo to the start of the list item */
  width: 16px; /* Adjust width to your logo's size */
  height: 16px; /* Adjust height to your logo's size */
  background-image: url('./Tick.png'); /* Replace with your logo path */
  background-size: contain;
  background-repeat: no-repeat;
}